
html {
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

body > nav {
  -webkit-box-shadow: 0px 4px 8px -1px rgba(214,214,214,1);
  -moz-box-shadow: 0px 4px 8px -1px rgba(214,214,214,1);
  box-shadow: 0px 4px 8px -1px rgba(214,214,214,1);
}

.row:not(.first-row) {
  padding: 1rem 0;
}

.first-row {
  margin-top: 1rem;
}
.mainBody {
  justify-content: center;
  text-align: center;
}

.footer {
  bottom: 0;
  background-color: #f8f9fa;
  text-align: center;
}

.heart-icon {
  color: red;
}

.sub-titles {
  font-size: 1.5rem;
  margin-top: .5rem;
}

.declaration {
  font-size: .5em;
}

@media screen and (max-width:412px) {
  .primary-title {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (min-width:413px) and (max-width:767px) {
  .primary-title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .sub-titles {
    font-size: 1rem;
  }

  .declaration {
    display: none;
  }
}
